@use '../abstracts' as *;

.pledges .product {
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  /* grid-template-rows: 1fr 1fr minmax(min-content, 1fr) 1fr; */
  gap: 1rem;
  border: 1px solid var(--clr-gray-600);
}

.product.selected {
  border: 3px solid var(--clr-primary-light);
}
.pledges .product__selection {
  grid-column: 1 / 2;
  align-self: center;
}

.pledges .product__header {
  grid-column: 2/-1;
}

.pledges .product__description {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.pledges .product__details {
  grid-column: 1 / 3;
  grid-row: 3/4;
}

@include mq(small) {
  .pledges .product {
    gap: 1rem 2rem;
  }

  .pledges .product__selection {
    grid-row: 1/4;
    align-self: self-start;
    padding-top: 8px;
  }

  .pledges .product__header {
    grid-column: 2/-2;
  }

  .pledges .product__description {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
  }

  .pledges .product__details {
    grid-column: 3 / 4;
    grid-row: 1/2;
    justify-self: end;
  }
}
